@import '../../styles/globals.scss';

.bathBombIcon {
    width: 98px;
    height: 98px;
    margin: 12px 21px 14px 16px;
};

.purchase-date {
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};

.purchase-amount {
    font-family: 'Lato';
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.6px;
    padding-top: 11px;
};

.purchase-receipt {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
};