@font-face {
    font-family: 'LushHandwritten-Bold';
    src: url(../assets/fonts/LushHandwritten-Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}