

// FONT

@font-face {
    font-family: "Lush Bold Compressed";
    src: url("../assets/font/HelveticaNeue-Bold-compressed.woff2");
}

@font-face {
    font-family: "Lush Compressed";
    src: url("../assets/font/HelveticaNeue-compressed.woff2");
}

@font-face {
    font-family: "Lush Handwritten Compressed";
    src: url("../assets/font/lushHandwritten_wlat_bd-webfont-compressed.woff2");
}

@font-face {
    font-family: "Lush Yaonetages Schrift";
    src: url("../assets/font/yanonetagesschrift-webfont.woff2");
}

@font-face {
    font-family: 'Lush Handwritten';
    src: url('../assets/fonts/LushHandwritten-Bold/LushHandwritten-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}