.custom-scrollbar::-webkit-scrollbar {
    width: 0; /* This will hide the scrollbar for Webkit browsers */
}

.custom-scrollbar {
    scrollbar-width: none; /* For Firefox */
    ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
