@import '../../styles/globals.scss';

.buyAgainImage {
    margin: 0;
    padding: 0;
    width: 350px;
    height: 177px;
    box-shadow: -4px 5px 14px 0px rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}